@{
    Layout = "_BlankLayout";
    ViewData["Title"] = "Login - Pages";
}
@section PageStyles {
    <link rel="stylesheet" href="~/vendor/css/pages/page-auth.css">
}

<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <div class="card">
                <div class="card-body">
                    <div class="app-brand">
                        <a href="/" class="app-brand-link gap-2 justify-content-center">
                           <img src="~/img/favicon/Logo.png" width="50%"/>
                            @* <span class="app-brand-text demo text-body fw-bold">@TempData.Peek("appName")</span> *@
                        </a>
                    </div>
                    <h4 class="mb-2">Welcome to @TempData.Peek("appName")! 👋</h4>
                    <p class="mb-4">Please sign-in to your User account.</p>

                    <form id="formAuthentication" class="mb-3" asp-action="Login" asp-controller="Auth" method="post">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control form-control-lg" id="username" name="Username" placeholder="Enter your username" value="ibs" autofocus>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <div class="d-flex justify-content-between">
                                <label class="form-label" for="password">Password</label>
                                <a href="/Auth/ForgotPassword">
                                    <small>Forgot Password?</small>
                                </a>
                            </div>
                            <div class="input-group input-group-merge">
                                <input type="password" id="password" class="form-control form-control-lg" name="Password" value="A@123456" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="remember-me">
                                <label class="form-check-label" for="remember-me">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">Login</button>
                        </div>
                    </form>

                    <p class="text-center">
                        <span>Not a User?</span>
                        <a href="/Auth/EmployeeLogin">Employee Login</a> | <a href="/Auth/SupplierLogin">Supplier Login</a> | <a href="/FaceAttendance/FaceAttendanceMarks">Attendance</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
