@model IEnumerable<Exampler_ERP.Models.HR_Applicant>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    var lblApplicantName = Localizer["lbl_ApplicantName"];
}
@foreach (var item in Model)
{
	<div class="col-12 col-md-12 col-lg-12 GVDetail">
		<div class="row">
			<div class="col-10 col-md-10 col-lg-10">
				<div class="row">
					<div class="col-12 col-md-12 col-lg-3">
						<p class="text-nowrap">
							@if (item.Picture != null)
							{
								<img src="data:image/jpeg;base64,@Convert.ToBase64String(item.Picture)" style="width: 50px; height: 50px; border-radius:50%" alt="Profile Picture" />
							}
							else
							{
								<img src="~/img/icons/noimage.jpg" style="width: 50px; height: 50px; border-radius:50%" alt="No Image Available" />
							}
						</p>
					</div>
					<div class="col-12 col-md-12 col-lg-9">
                        <p class="text-nowrap"><span class="smallAdd">@lblApplicantName : </span>@Html.Raw($"{item.FirstName} {item.FatherName} {item.FamilyName}")</p>
					</div>

				</div>
			</div>
			<div class="col-2 col-md-2 col-lg-2">
				<div class="row">
					<div class="col-12 col-md-12 col-lg-6">
						<div class="btn-group" role="group" aria-label="Actions">
							<a href="javascript:void(0)" class="editApplicantLink" data-id="@item.ApplicantID">
								<i class="fa fa-pencil" style="font-size: large; color:steelblue; line-height: 2;"></i>
							</a>
						</div>
					</div>
					<div class="col-12 col-md-12 col-lg-6">
						<div class="btn-group" role="group" aria-label="Actions">
							<a href="javascript:void(0)" class="PrintApplicantBioDataLink" data-id="@item.ApplicantID">
								<i class="fa fa-print" style="font-size: large; color:steelblue; line-height: 2;"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
}
