@model Exampler_ERP.Models.Settings_EmployeeStatusType

<div class="modal fade" id="editEmployeeStatusTypeModal" tabindex="-1" role="dialog" aria-labelledby="editEmployeeStatusTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editEmployeeStatusTypeModalLabel">Edit EmployeeStatusType</h5>
                <button type="button" class="btn btn-danger CloseButton" data-dismiss="modal" id="Close">
                    x
                </button>
            </div>
            <div class="modal-body">
                <form id="editEmployeeStatusTypeForm">
                    <div class="row">
                        <div class="col-2 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-12 col-md-12 col-lg-12">
                                    <label for="EmployeeStatusTypeName">EmployeeStatusType Name</label>
                                    <input type="text" class="form-control" id="EmployeeStatusTypeName" name="EmployeeStatusTypeName" value="@Model.EmployeeStatusTypeName" />
                                </div>
                                <div class="col-12 col-md-6 col-lg-6">
                                    <label asp-for="ActiveYNID">Active</label>
                                    <select asp-for="ActiveYNID" asp-items="@(new SelectList(ViewBag.ActiveYNIDList, "Value", "Text", Model.ActiveYNID))" class="form-control">
                                    </select>
                                    <span asp-validation-for="ActiveYNID" class="text-danger"></span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="EmployeeStatusTypeID" name="EmployeeStatusTypeID" value="@Model.EmployeeStatusTypeID" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>
