@{
    Layout = "_CommonMasterLayout";

    ViewData["Title"] = "Mark Attendance via Webcam";
}
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@section PageStyles {
    <style>
        /* .glass-btn {
            background: rgba(255, 255, 255, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.3);
            color: #000;
            backdrop-filter: blur(8px);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            transition: all 0.3s ease;
        }

            .glass-btn:hover {
                background: rgba(255, 255, 255, 0.4);
                transform: translateY(-2px);
            } */
        .neumorphic-btn {
            background: #e0e0e0;
            border: none;
            color: #333;
            box-shadow: 7px 7px 15px #b3b3b3, -7px -7px 15px #ffffff;
            transition: all 0.3s ease;
        }

            .neumorphic-btn:hover {
                box-shadow: 4px 4px 10px #b3b3b3, -4px -4px 10px #ffffff;
            }
    </style>
}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <!-- Modern Card UI for Attendance -->
            <div class="card shadow-lg">
                <div class="card-header bg-warning   text-white text-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <button onclick="window.history.back();" class="btn neumorphic-btn d-flex align-items-center gap-2 p-2 rounded-pill">
                            <i class="fas fa-arrow-left"></i>
                            <span>Back</span>
                        </button>

                        <style>
                            .glass-btn {
                                background: rgba(255, 255, 255, 0.2);
                                border: 1px solid rgba(255, 255, 255, 0.3);
                                color: #000;
                                backdrop-filter: blur(8px);
                                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                                transition: all 0.3s ease;
                            }

                                .glass-btn:hover {
                                    background: rgba(255, 255, 255, 0.4);
                                    transform: translateY(-2px);
                                }
                        </style>


                        <img src="~/img/favicon/SideLogoWithName.png" width="40%" />
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Webcam and Attendance submission -->
                        <div class="col-md-7">
                            <div id="webcamContainer" class="mt-3 text-center">
                                <video id="webcam" autoplay playsinline class="border rounded shadow-sm" style="width: 100%; height: 372px;"></video>
                                <button id="captureButton" class="btn btn-primary mt-3 w-100" style="display:none;">Capture Photo</button>
                                <canvas id="canvas" style="display:none;" width="400" height="300"></canvas>
                                <input type="hidden" id="imageData" />
                                <button id="submitAttendance" class="btn btn-success mt-3 w-100" disabled>Submit Attendance</button>
                            </div>
                        </div>

                        <!-- Employee details and Inputs -->
                        <div class="col-md-5" style="padding-top: 17px;">
                            <div id="employeeDetails" class="p-3 bg-light rounded shadow-sm">
                                <h5>Employee Details</h5>
                                <p><strong>Name:</strong> <span id="EmployeeName"></span></p>
                                <p><strong>Branch:</strong> <span id="Branch"></span></p>
                                <p><strong>Department:</strong> <span id="Department"></span></p>
                                <p><strong>Designation:</strong> <span id="Designation"></span></p>
                            </div>

                            <!-- Employee ID Input -->
                            <div class="form-group mt-2" style="padding-top: 37px;">
                                <label for="EmployeeID">@Localizer["lbl_EmployeeID"]: </label>
                                <input type="text" id="EmployeeID" name="employeeID" class="form-control" placeholder="Enter Employee ID" />
                                <button id="fetchEmployee" class="btn btn-primary mt-3 w-100" style="display:none">Fetch Employee</button>
                            </div>

                            <!-- Password Input -->
                            <div class="form-group mt-2">
                                <label for="Password">Password:</label>
                                <input type="password" id="Password" class="form-control" placeholder="Enter Password" />
                                <button id="verifyPassword" class="btn btn-success mt-3 w-100">Verify ID & Password</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section PageScripts {
    <script>
        // Fetch Employee Details
        document.getElementById('fetchEmployee').addEventListener('click', function () {
            var employeeID = parseInt(document.getElementById('EmployeeID').value); // Convert to integer
            console.log("EmployeeID in JavaScript: ", employeeID); // Debug output
            if (!isNaN(employeeID)) { // Check if employeeID is a valid number
                fetch('/FaceAttendance/FetchEmployeeDetails', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ employeeID: employeeID })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Display employee details
                            document.getElementById('EmployeeName').textContent = data.employee.firstName + ' ' + data.employee.fatherName + ' ' + data.employee.familyName;
                            document.getElementById('Branch').textContent = data.employee.branch;
                            document.getElementById('Department').textContent = data.employee.department;
                            document.getElementById('Designation').textContent = data.employee.designation;
                            document.getElementById('employeeDetails').style.display = 'block';

                            // Disable Fetch Employee button
                            document.getElementById('fetchEmployee').disabled = true;

                            // Enable Verify Password button
                            document.getElementById('verifyPassword').disabled = false;
                        } else {
                            alert(data.message);
                        }
                    });
            } else {
                showErrorAlert("Please enter a valid Employee ID."); // Alert if invalid
            }
        });

        // Verify Password and enable webcam
        document.getElementById('verifyPassword').addEventListener('click', function () {
            var employeeID = parseInt(document.getElementById('EmployeeID').value); // Convert to integer
            console.log("EmployeeID in JavaScript: ", employeeID); // Debug output
            if (!isNaN(employeeID)) { // Check if employeeID is a valid number
                fetch('/FaceAttendance/FetchEmployeeDetails', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ employeeID: employeeID })
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            // Display employee details
                            document.getElementById('EmployeeName').textContent = data.employee.firstName + ' ' + data.employee.fatherName + ' ' + data.employee.familyName;
                            document.getElementById('Branch').textContent = data.employee.branch;
                            document.getElementById('Department').textContent = data.employee.department;
                            document.getElementById('Designation').textContent = data.employee.designation;
                            document.getElementById('employeeDetails').style.display = 'block';

                            // Disable Fetch Employee button
                            document.getElementById('fetchEmployee').disabled = true;

                            // Enable Verify Password button
                            document.getElementById('verifyPassword').disabled = false;
                        } else {
                            showErrorAlert(data.message);
                        }
                    });
            } else {
                showErrorAlert("Please enter a valid Employee ID."); // Alert if invalid
            }

            var employeeID = parseInt(document.getElementById('EmployeeID').value);
            var password = document.getElementById('Password').value;

            fetch('/FaceAttendance/VerifyPassword', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ employeeID: employeeID, password: password })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Enable webcam
                        document.getElementById('webcamContainer').style.display = 'block';
                        navigator.mediaDevices.getUserMedia({ video: true }).then(function (stream) {
                            document.getElementById('webcam').srcObject = stream;
                        });

                        // Disable Verify Password button
                        document.getElementById('verifyPassword').disabled = true;

                        // Enable Capture Photo button
                        document.getElementById('submitAttendance').disabled = false;
                        showSuccessAlert("Successfully Fatch Employee Data");
                    } else {
                        showErrorAlert(data.message);
                    }
                });
        });

        // Capture photo and enable Submit Attendance button
        document.getElementById('captureButton').addEventListener('click', function () {
            var canvas = document.getElementById('canvas');
            var video = document.getElementById('webcam');
            var context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            var imageData = canvas.toDataURL('image/png');
            document.getElementById('imageData').value = imageData;

            // Enable Submit Attendance button
            //document.getElementById('submitAttendance').disabled = false;
        });

       
        document.getElementById('submitAttendance').addEventListener('click', function () {

            // Capture photo and enable Submit Attendance button
           var canvas = document.getElementById('canvas');
            var video = document.getElementById('webcam');
            var context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            var imageData = canvas.toDataURL('image/png');
            document.getElementById('imageData').value = imageData;

            document.getElementById('submitAttendance').disabled = false;

            // Submit attendance
            var employeeID = parseInt(document.getElementById('EmployeeID').value);
            var imageData = document.getElementById('imageData').value;

            fetch('/FaceAttendance/SubmitAttendance', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ employeeID: employeeID, imageData: imageData })
            })
                .then(response => response.json())
                .then(data => {
                    showSuccessAlert(data.message);
                    // Reload the page on success
                    if (data.success) {
                        showSuccessAlert(data.message);
                         // This will refresh the page
                    }
                });
        });
    </script>
}
