@{
    ViewData["Title"] = "Report - Lodgement";
}

@section PageScripts {
    <script>
        function printLodgement() {
            // Opens a new window for printing the lodgement
            var printWindow = window.open('@Url.Action("Print", "Lodgement")', '_blank');
            if (printWindow) printWindow.focus();
        }
    </script>
}

<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Report /</span> Lodgement
</h4>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Lodgement Print</h5>
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="p-4">
                      <br />
                        <!-- Date Selection Section -->
                        <div class="row mb-4">
                            <div class="col-md-6">
                                <label class="form-label fw-bold">From Date</label>
                                <input id="FromDate" class="form-control form-control-lg" type="date" />
                            </div>
                            <div class="col-md-6">
                                <label class="form-label fw-bold">To Date</label>
                                <input id="ToDate" class="form-control form-control-lg" type="date" />
                            </div>
                        </div>

                        <!-- Head of Account Section -->
                        <div class="row">
                            <div class="col-md-12">
                                <label for="HeadofAccount_ID" class="form-label fw-bold">Head Of Account</label>
                                <select id="HeadofAccount_ID" class="form-select form-select-lg">
                                    <option value="">Select Head Of Account</option>
                                    @if (ViewBag.HeadofAccount_FiveList != null)



                                    {



                                        foreach (var type in ViewBag.HeadofAccount_FiveList)



                                        {
                                            <option value="@type.Value">@type.Text</option>
                                        }



                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
