@model Exampler_ERP.Models.HR_ContractRenewal

<div class="modal fade" id="editContractRenewalModal" tabindex="-1" role="dialog" aria-labelledby="editContractRenewalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="editContractRenewalModalLabel">
                    <i class="fas fa-key me-2"></i>
                    Contract Renewal
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="editContractRenewalForm" method="post" asp-action="Edit" asp-controller="ContractRenewal" enctype="multipart/form-data">
                    @Html.Partial("~/Views/HR/Employeement/ContractRenewal/_EditContractRenewal.cshtml", Model)
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">Close</button>
                <button type="button" class="btn btn-success" id="saveContractChanges">Save Changes</button>
            </div>
        </div>
    </div>
</div>

