
@model Exampler_ERP.Models.Temp.ChangePasswordModel

<div class="modal fade" id="changepasswordModal" tabindex="-1" aria-labelledby="changepasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changepasswordModalLabel">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Change Password Form -->
                <form id="changePasswordForm" method="post" action="@Url.Action("ChangePassword", "Employee")">
                    @Html.Partial("~/Views/HR/Employeement/Employee/_ChangePassword.cshtml", Model)
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="changePasswordForm" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
