@model Exampler_ERP.Models.Temp.ChangePictureModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="modal fade" id="changePictureModal" tabindex="-1" role="dialog" aria-labelledby="changePictureModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content shadow-lg border-0">
            <!-- Modal Header -->
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="changePictureModalLabel">
                    <i class="fas fa-camera me-2"></i>Change Profile Picture
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <!-- Change Picture Form -->
                <form id="changePictureForm" method="post" action="@Url.Action("ChangePicture", "Employee")" enctype="multipart/form-data">
                    @Html.Partial("~/Views/HR/Employeement/Employee/_ChangePicture.cshtml", Model)
                </form>

                <!-- Success Message -->
                <div id="successMessagePicture" class="alert alert-success text-center mt-3" style="display:none;"></div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fas fa-times-circle"></i> @Localizer["lbl_Close"]
                </button>
                <button type="submit" form="changePictureForm" class="btn btn-success">
                    <i class="fas fa-check-circle"></i> @Localizer["lbl_SaveChanges"]
                </button>
            </div>
        </div>
    </div>
</div>


