@model Exampler_ERP.Models.HR_EmployeeExperience

<div class="modal fade" id="employeeExperienceModal" tabindex="-1" role="dialog" aria-labelledby="employeeExperienceModalLabel" aria-hidden="true" style="--bs-modal-width: 60rem;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="employeeExperienceModalLabel">
                    <i class="fas fa-key me-2"></i>
                    Experience Employee
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="employeeExperienceForm" method="post" asp-action="Experience" asp-controller="Employee" enctype="multipart/form-data">
                    <input type="hidden" asp-for="ExperienceID" />
                    <input type="hidden" asp-for="EmployeeID" />

                    <div class="form-group">
                        <label asp-for="ExperienceTittle" class="form-label">Experience Tittle</label>
                        <input asp-for="ExperienceTittle" class="form-control" />
                        <span asp-validation-for="ExperienceTittle" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CompanyName" class="form-label">Company Name</label>
                        <input asp-for="CompanyName" class="form-control" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="City" class="form-label">City</label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CountryTypeID" class="form-label">Country</label>
                        <select asp-for="CountryTypeID" asp-items="@(new SelectList(ViewBag.CountryTypes, "Value", "Text"))" class="form-control"></select>
                        <span asp-validation-for="CountryTypeID" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <div class="col-6">
                            <label asp-for="StartMonth" class="form-label">Start Month</label>
                            <select asp-for="StartMonth" asp-items="@(new SelectList(ViewBag.MonthTypes, "Value", "Text"))" class="form-control"></select>
                            <span asp-validation-for="StartMonth" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="StartYear" class="form-label">Start Year</label>
                            <input asp-for="StartYear" class="form-control" />
                            <span asp-validation-for="StartYear" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-6">
                            <label asp-for="EndMonth" class="form-label">End Month</label>
                            <select asp-for="EndMonth" asp-items="@(new SelectList(ViewBag.MonthTypes, "Value", "Text"))" class="form-control"></select>
                            <span asp-validation-for="EndMonth" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="EndYear" class="form-label">End Year</label>
                            <input asp-for="EndYear" class="form-control" />
                            <span asp-validation-for="EndYear" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-label">Document (PDF)</label>
                        <input type="file" name="pdfFile" accept=".pdf" class="form-control" />
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">Close</button>
                <button type="button" class="btn btn-success" id="saveEmployeeChanges">Save Changes</button>
            </div>
        </div>
    </div>
</div>
