@model Exampler_ERP.Models.Temp.MonthlyPayrollPrintViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Print Monthly Payslip</title>
   
</head>
<body style="background-color:white">
    <h2>Monthly Payslip </h2>
    @Html.Partial("~/Views/HR/Reports/MonthlyPayslip/_ViewMonthlyPayslip.cshtml", Model)
    <script>
        window.print();
    </script>
</body>
</html>


