@model Exampler_ERP.Models.Temp.MonthlyPayrollPrintViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "_BlankLayout";
}
<!DOCTYPE html>
<html>
<head>
    <title>@Localizer["lbl_Print"]  Monthly Payslip</title>
   
</head>
<body style="background-color:white">
    @Html.Partial("~/Views/HR/Reports/MonthlyPayslip/_ViewMonthlyPayslip.cshtml", Model)
    <script>
        window.print();
    </script>
</body>
</html>


