@model Exampler_ERP.Models.HR_OverTime
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="modal fade" id="editOverTimeModal" tabindex="-1" role="dialog" aria-labelledby="editOverTimeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-white">
                <h5 class="modal-title" id="editOverTimeModalLabel">
                    <i class="fas fa-key me-2"></i>
					@Localizer["lbl_EditOverTime"]
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="editOverTimeForm">
                    @Html.Partial("~/Views/HR/HR/OverTime/_EditOverTime.cshtml", Model)
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="Close" class="btn btn-secondary" data-dismiss="modal">@Localizer["lbl_Close"]</button>
                <button type="button" id="saveChanges" class="btn btn-success">@Localizer["lbl_SaveChanges"]</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>

</script>
