@model Exampler_ERP.Models.Settings_SubQualification

<div class="modal fade" id="addSubQualificationModal" tabindex="-1" role="dialog" aria-labelledby="addSubQualificationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSubQualificationModalLabel">Add New SubQualification</h5>
                <button type="button" class="btn btn-danger CloseButton" data-dismiss="modal" id="Close">
                    x
                </button>
            </div>
            <div class="modal-body">
                <form id="addSubQualificationForm">
                    <div class="row">
                        <div class="col-6">
                            <label asp-for="QualificationID" class="control-label">Select Qualification</label>
                            <select asp-for="QualificationID" asp-items="@(new SelectList(ViewBag.QualificationList, "Value", "Text", Model.QualificationID))" class="form-control">
                            </select>
                            <span asp-validation-for="QualificationID" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="ActiveYNID">Active</label>
                            <select asp-for="ActiveYNID" asp-items="@(new SelectList(ViewBag.ActiveYNIDList, "Value", "Text"))" class="form-control">
                                <option>Please select</option>
                            </select>
                            <span asp-validation-for="ActiveYNID" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <label for="SubQualificationName">SubQualification Name</label>
                            <input type="text" class="form-control" id="SubQualificationName" name="SubQualificationName" value="@Model.SubQualificationName" />
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="Close">Close</button>
                <button type="button" class="btn btn-primary" id="saveNewSubQualification">Save</button>
            </div>
        </div>
    </div>
</div>
