@model IEnumerable<Exampler_ERP.Models.Settings_SubQualification>

<!DOCTYPE html>
<html>
<head>
    <title>Print SubQualificationes</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>SubQualification List</h2>
    <table>
        <thead>
            <tr>
                <th>SubQualification ID</th>
                <th>Qualification Name</th>
                <th>SubQualification Name</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var SubQualification in Model)
            {
                <tr>
                    <td>@SubQualification.SubQualificationID</td>
                    <td>@(SubQualification.Qualification?.QualificationName ?? "N/A")</td>
                    <td>@SubQualification.SubQualificationName</td>
                    <td>@(SubQualification.ActiveYNID == 1 ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
