@{
    ViewData["Title"] = "Purchase - Report";


    var accessRightsByUserJson = Context.Session.GetString("AccessRightsByUserActionSORs");
    var accessRightByUsertList = string.IsNullOrEmpty(accessRightsByUserJson)
        ? new List<int>()
        : System.Text.Json.JsonSerializer.Deserialize<List<int>>(accessRightsByUserJson);



    var accessRightsByRoleJson = Context.Session.GetString("AccessRightsByRoleActionSORs");
    var accessRightByRoleList = string.IsNullOrEmpty(accessRightsByRoleJson)
        ? new List<int>()
        : System.Text.Json.JsonSerializer.Deserialize<List<int>>(accessRightsByRoleJson);

}

@section PageScripts {
    <script src="~/js/pages-account-settings-account.js"></script>
    <link href="~/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Purchase /</span> Report
</h4>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item"><a class="nav-link" href="~/PR_Main_Dashboard/Index"><i class="bx bx-home me-1"></i> Main</a></li>
            <li class="nav-item"><a class="nav-link" href="~/PR_Management_Dashboard/Index"><i class="bx bx-briefcase me-1"></i> Management</a></li>
            <li class="nav-item"><a class="nav-link active" href="~/PR_Report_Dashboard/Index"><i class="bx bx-bar-chart-alt me-1"></i> Reports</a></li>
        </ul>
        <div class="card mb-4">
            <h5 class="card-header">Details</h5>
            <div class="row" style="padding: 30px 30px 0px 30px;">
              
            </div>

        </div>
    </div>
</div>


