body {
  direction: rtl;
  text-align: right;
}

.layout-menu-fixed .layout-menu {
  left: auto;
}

.layout-menu-fixed .layout-page {
  margin-left: -260px;
  margin-right: 260px; /* Adjust based on menu width */
}

.breadcrumb {
  float: right;
}

.navbar {
  direction: rtl;
}

.card, .card-body {
  text-align: right;
}

/* Notification Dropdown RTL Adjustments */
.dropdown-menu {
  right: 0;
  left: auto;
}

.app-brand .layout-menu-toggle {
  position: absolute;
  left: -1rem;
  border-radius: 50%;
  opacity: 1;
}
.ms-auto {
  margin-right: auto !important;
  margin-left: 0px !important;
}

.bg-menu-theme .menu-sub > .menu-item > .menu-link:before {
  content: "";
  position: absolute;
  right: 1.4375rem;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
}
.badgecenteralignment {
  right: 0px !important;
}
.menu-vertical .menu-sub .menu-link {
  padding-right: 3rem;
}
.dropdown-menu-end[data-bs-popper] {
  left: 0;
  right: auto;
}
.dropdown-menu {
  text-align: right !important;
}
.me-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.0rem !important;
}
.me-3 {
  margin-left: 1rem !important;
  margin-right: 0rem !important;
}
@media (max-width: 1199.98px) {
  .layout-menu {
    right: 0 !important;
    transform: translate3d(100%, 0, 0);
  }
}

@media (max-width: 1199.98px) {
  .layout-menu-fixed .layout-page {
    margin-left: 0px;
    margin-right: 0px; /* Adjust based on menu width */
  }
}
