.layout-wrapper {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #f8f9fa;
  padding: 20px;
}

  .sidebar ul.nav {
    list-style: none;
    padding: 0;
  }

    .sidebar ul.nav li {
      margin-bottom: 10px;
    }

      .sidebar ul.nav li a {
        text-decoration: none;
        color: #000;
        font-size: 16px;
      }

.main-content {
  flex-grow: 1;
  padding: 20px;
}
