@{

    string? currentPage = Context.Request.Path;

    TempData.Keep();
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo">
                @* @await Html.PartialAsync("../_Partials/_Macros") *@
                <img src="~/img/favicon/SideLogoWithName.png" width="40%" />
            </span>
            @* <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span> *@
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>
    <hr />
    <div class="menu-inner-shadow"></div>

    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">
        <!-- SupplierDashboards -->
        <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/SupplierDashboards/") ? " active open" : "")'>
            <a asp-controller="SupplierDashboards" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div>Dashboards</div>
                <div class="badge bg-danger rounded-pill ms-auto">3</div>
            </a>
        </li>

        <!-- View Purchase Orders -->
        <li class='menu-item@(currentPage ==  "/SUP_ViewPurchaseOrders/Index" ? " active" : "")'>
            <a asp-controller="SUP_ViewPurchaseOrders" asp-action="Index" class="menu-link">
                <div>View Purchase Orders</div>
            </a>
        </li>

        <!-- Delivery Notes -->
        <li class='menu-item@(currentPage ==  "/SUP_DeliveryNotes/Index" ? " active" : "")'>
            <a asp-controller="SUP_DeliveryNotes" asp-action="Index" class="menu-link">
                <div>Delivery Notes</div>
            </a>
        </li>

        <!-- Invoice Submission -->
        <li class='menu-item@(currentPage ==  "/SUP_InvoiceSubmission/Index" ? " active" : "")'>
            <a asp-controller="SUP_InvoiceSubmission" asp-action="Index" class="menu-link">
                <div>Invoice Submission</div>
            </a>
        </li>

        <!-- Payment Status -->
        <li class='menu-item@(currentPage ==  "/SUP_PaymentStatus/Index" ? " active" : "")'>
            <a asp-controller="SUP_PaymentStatus" asp-action="Index" class="menu-link">
                <div>Payment Status</div>
            </a>
        </li>
      </ul>

</aside>
<!-- / Menu -->
