@{

    string? currentPage = Context.Request.Path;

    TempData.Keep();



    var accessRightsByUserJson = Context.Session.GetString("AccessRightsByUserActionSORs");

    var accessRightByUsertList = string.IsNullOrEmpty(accessRightsByUserJson)

        ? new List<int>()

        : System.Text.Json.JsonSerializer.Deserialize<List<int>>(accessRightsByUserJson);







    var accessRightsByRoleJson = Context.Session.GetString("AccessRightsByRoleActionSORs");

    var accessRightByRoleList = string.IsNullOrEmpty(accessRightsByRoleJson)

        ? new List<int>()

        : System.Text.Json.JsonSerializer.Deserialize<List<int>>(accessRightsByRoleJson);


}
<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo">
                @* @await Html.PartialAsync("../_Partials/_Macros") *@
                <img src="~/img/favicon/SideLogoWithName.png" width="40%" />
            </span>
            @* <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span> *@
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>
    <hr />
    <div class="menu-inner-shadow"></div>

    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboards/") ? " active open" : "")'>
            <a asp-controller="Dashboards" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div>Dashboards</div>
                <div class="badge bg-danger rounded-pill ms-auto">5</div>
            </a>
        </li>

        @if (accessRightByRoleList.Contains(1) || accessRightByUsertList.Contains(1))

        {
            <!-- Human Resources -->
            <li class='menu-item@(currentPage.StartsWith("/HR_Main_Dashboard/Index") ||
                    currentPage.StartsWith("/HR_Employeement_Dashboard/Index") ||
                    currentPage.StartsWith("/HR_HR_Dashboard/Index") ||
                    currentPage.StartsWith("/HR_Finance_Dashboard/Index") ||
                    currentPage.StartsWith("/HR_Report_Dashboard/Index")||
                    currentPage.StartsWith("/AddionalAllowanceType/Index")||
                    currentPage.StartsWith("/DeductionSetup/Index")||
                    currentPage.StartsWith("/Branch/Index")||
                    currentPage.StartsWith("/DeductionType/Index")||
                    currentPage.StartsWith("/Department/Index")||
                    currentPage.StartsWith("/Designation/Index")||
                    currentPage.StartsWith("/EmployeeRequestType/Index")||
                    currentPage.StartsWith("/EmployeeRequestTypeApprovalSetup/Index")||
                    currentPage.StartsWith("/EmployeeRequestTypeForward/Index")||
                    currentPage.StartsWith("/EmployeeStatusType/Index")||
                    currentPage.StartsWith("/OvertimeRate/Index")||
                    currentPage.StartsWith("/ProcessTypeApprovalSetup/Index")||
                    currentPage.StartsWith("/ProcessType/Index")||
                    currentPage.StartsWith("/ProcessTypeForward/Index")||
                    currentPage.StartsWith("/Qualification/Index")||
                    currentPage.StartsWith("/Role/Index")||
                    currentPage.StartsWith("/SalaryType/Index")||
                    currentPage.StartsWith("/Section/Index")||
                    currentPage.StartsWith("/SubQualification/Index")||
                    currentPage.StartsWith("/User/Index")||
                    currentPage.StartsWith("/VacationType/Index")||
                    currentPage.StartsWith("/HolidayType/Index")||

                    currentPage.StartsWith("/Applicant/Index")||
                    currentPage.StartsWith("/BankAccount/Index")||
                    currentPage.StartsWith("/CardPrint/Index")||
                    currentPage.StartsWith("/Contract/Index")||
                    currentPage.StartsWith("/ContractRenewal/Index")||
                    currentPage.StartsWith("/Employee/Index")||
                    currentPage.StartsWith("/Joining/Index")||
                    currentPage.StartsWith("/Salary/Index")||

                    currentPage.StartsWith("/AddionalAllowance/Index")||
                    currentPage.StartsWith("/Deduction/Index")||
                    currentPage.StartsWith("/EndOfService/Index")||
                    currentPage.StartsWith("/OverTime/Index")||
                    currentPage.StartsWith("/VacationSettle/Index")||
                    currentPage.StartsWith("/FaceAttendanceTimeAdjust/Index")||
                    currentPage.StartsWith("/FaceAttendanceForwarding/Index")||
                    currentPage.StartsWith("/Holiday/Index")||

                    currentPage.StartsWith("/FixedDeduction/Index")||
                    currentPage.StartsWith("/WorkDay/Index")||
                    currentPage.StartsWith("/MonthlySalarySheet/Index")||

                    currentPage.StartsWith("/ContractExpiry/Index")||
                    currentPage.StartsWith("/EmployeeBioData/Index")||
                    currentPage.StartsWith("/VacationBalance/Index")||
                    currentPage.StartsWith("/VacationReport/Index")||
                    currentPage.StartsWith("/ExperienceCertificate/Index")||
                    currentPage.StartsWith("/EducationDocument/Index")||
                    currentPage.StartsWith("/ProcessApprovalDetail/Index")||
                    currentPage.StartsWith("/EmployeeRequestApprovalDetail/Index")||
                    currentPage.StartsWith("/ApprovedMonthlySalarySheet/Index")||
                    currentPage.StartsWith("/MonthlyPayslip/Index")||
                    currentPage.StartsWith("/FaceAttendanceReport/Index") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-group"></i>
                    <div>Human Resources</div>
                </a>

                <ul class="menu-sub">
                    <!-- Master Information -->
                    <li class='menu-item@(currentPage == "/HR_Main_Dashboard/Index" || currentPage == "/AddionalAllowanceType/Index" ||
                                      currentPage == "/DeductionSetup/Index" || currentPage == "/Branch/Index" ||
                                      currentPage == "/DeductionType/Index" || currentPage == "/Department/Index" ||
                                      currentPage == "/Designation/Index" || currentPage == "/EmployeeRequestType/Index" ||
                                      currentPage == "/EmployeeStatusType/Index" || currentPage == "/OvertimeRate/Index" ||
                                      currentPage == "/ProcessTypeApprovalSetup/Index" || currentPage == "/ProcessType/Index" ||
                                      currentPage == "/ProcessTypeForward/Index" || currentPage == "/Qualification/Index" ||
                                      currentPage == "/Role/Index" || currentPage == "/SalaryType/Index" ||
                                      currentPage == "/Section/Index" || currentPage == "/SubQualification/Index" ||
                                      currentPage == "/User/Index" || currentPage == "/VacationType/Index" ||
                                      currentPage == "/EmployeeRequestTypeApprovalSetup/Index" || currentPage == "/EmployeeRequestTypeForward/Index" ||
                                      currentPage == "/Holiday/Index" ? " active" : "")'>
                        <a asp-controller="HR_Main_Dashboard" asp-action="Index" class="menu-link">
                            <div>Master Information</div>
                        </a>
                    </li>

                    <!-- Employeement -->
                    <li class='menu-item@(currentPage == "/HR_Employeement_Dashboard/Index" || currentPage == "/Applicant/Index" ||
                                      currentPage == "/BankAccount/Index" || currentPage == "/CardPrint/Index" ||
                                      currentPage == "/Contract/Index" || currentPage == "/ContractRenewal/Index" ||
                                      currentPage == "/Employee/Index" || currentPage == "/Joining/Index" ||
                                      currentPage == "/Salary/Index"  ? " active" : "")'>
                        <a asp-controller="HR_Employeement_Dashboard" asp-action="Index" class="menu-link">
                            <div>Employeement</div>
                        </a>
                    </li>

                    <!-- HR -->
                    <li class='menu-item@(currentPage == "/HR_HR_Dashboard/Index" || currentPage == "/AddionalAllowance/Index" ||
                                      currentPage == "/Deduction/Index" || currentPage == "/EndOfService/Index" ||
                                      currentPage == "/OverTime/Index" || currentPage == "/VacationSettle/Index"||
                                      currentPage == "/FaceAttendanceTimeAdjust/Index" || currentPage == "/FaceAttendanceForwarding/Index"||
                                      currentPage == "/Holiday/Index"? " active" : "")'>
                        <a asp-controller="HR_HR_Dashboard" asp-action="Index" class="menu-link">
                            <div>HR</div>
                        </a>
                    </li>

                    <!-- Finance -->
                    <li class='menu-item@(currentPage == "/HR_Finance_Dashboard/Index" || currentPage == "/FixedDeduction/Index" ||
                                      currentPage == "/WorkDay/Index" || currentPage == "/MonthlySalarySheet/Index"  ? " active" : "")'>
                        <a asp-controller="HR_Finance_Dashboard" asp-action="Index" class="menu-link">
                            <div>Finance</div>
                        </a>
                    </li>

                    <!-- Report -->
                    <li class='menu-item@(currentPage == "/HR_Report_Dashboard/Index"|| currentPage == "/ContractExpiry/Index" ||
                                      currentPage == "/EmployeeBioData/Index" || currentPage == "/VacationBalance/Index" ||
                                      currentPage == "/VacationReport/Index"|| currentPage == "/ExperienceCertificate/Index" ||
                                      currentPage == "/EducationDocument/Index"|| currentPage == "/ProcessApprovalDetail/Index" ||
                                      currentPage == "/EmployeeRequestApprovalDetail/Index"|| currentPage == "/FaceAttendanceReport/Index"||
                                      currentPage == "/MonthlyPayslip/Index"|| currentPage == "/ApprovedMonthlySalarySheet/Index"  ? " active" : "")'>
                        <a asp-controller="HR_Report_Dashboard" asp-action="Index" class="menu-link">
                            <div>Report</div>
                        </a>
                    </li>
                </ul>
            </li>
        }
        @if (accessRightByRoleList.Contains(2) || accessRightByUsertList.Contains(2))

        {
            <!-- Finance -->
            <li class='menu-item@(currentPage.StartsWith("/FI_Main_Dashboard/Index") || currentPage.StartsWith("/FI_Management_Dashboard/Index") ||
                                   currentPage.StartsWith("/FI_Transaction_Dashboard/Index") || currentPage.StartsWith("/FI_Report_Dashboard/Index") ||
                                   currentPage.StartsWith("/CashAgainstSale/Index") || currentPage.StartsWith("/HeadofAccount_CategoryType/Index") ||
                                   currentPage.StartsWith("/HeadofAccount_First/Index") || currentPage.StartsWith("/HeadofAccount_Second/Index") ||
                                   currentPage.StartsWith("/HeadofAccount_Third/Index") || currentPage.StartsWith("/HeadofAccount_Four/Index") ||
                                   currentPage.StartsWith("/HeadofAccount_Five/Index") || currentPage.StartsWith("/VoucherType/Index")  ||
                                   currentPage.StartsWith("/Bank/Index") || currentPage.StartsWith("/ChequeBook/Index") ||
                                   currentPage.StartsWith("/Vendor/Index") || currentPage.StartsWith("/JournalVoucher/Index") ||
                                   currentPage.StartsWith("/TransferVoucher/Index") || currentPage.StartsWith("/PaymentVoucher/Index") ||
                                   currentPage.StartsWith("/ReceivedVoucher/Index")? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-dollar"></i>
                    <div>Finance</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/FI_Main_Dashboard/Index"|| currentPage == "/CashAgainstSale/Index" ||
                                      currentPage == "/HeadofAccount_CategoryType/Index" || currentPage == "/HeadofAccount_First/Index"||
                                      currentPage == "/HeadofAccount_Second/Index" || currentPage == "/HeadofAccount_Third/Index"||
                                      currentPage == "/HeadofAccount_Four/Index" || currentPage == "/HeadofAccount_Five/Index"||
                                      currentPage == "/VoucherType/Index" ? " active" : "")'>
                        <a asp-controller ="FI_Main_Dashboard" asp-action="Index" class="menu-link">
                            <div>Master Information</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/FI_Management_Dashboard/Index"|| currentPage == "/Bank/Index" ||
                                      currentPage == "/ChequeBook/Index" || currentPage == "/Vendor/Index" ? " active" : "")'>
                        <a asp-controller="FI_Management_Dashboard" asp-action="Index" class="menu-link">
                            <div>Management</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/FI_Transaction_Dashboard/Index"|| currentPage == "/JournalVoucher/Index" ||
                                      currentPage == "/TransferVoucher/Index" || currentPage == "/PaymentVoucher/Index"||
                                      currentPage == "/ReceivedVoucher/Index" ? " active" : "")'>
                        <a asp-controller="FI_Transaction_Dashboard" asp-action="Index" class="menu-link">
                            <div>Transaction</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/FI_Report_Dashboard/Index" ? " active" : "")'>
                        <a asp-controller="FI_Report_Dashboard" asp-action="Index" class="menu-link">
                            <div>Reports</div>
                        </a>
                    </li>
                </ul>
            </li>
        }
        @if (accessRightByRoleList.Contains(3) || accessRightByUsertList.Contains(3))

        {
            <!-- Warehouse -->
            <li class='menu-item@(currentPage.StartsWith("/Auth") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-store"></i>
                    <div>Warehouse</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/WH_Main_Dashboard/Index" ? " active" : "")'>
                        <a asp-controller="WH_Main_Dashboard" asp-action="Index" class="menu-link">
                            <div>Master Information</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/WH_Warehouse_Dashboard/Index" ? " active" : "")'>
                        <a asp-controller="WH_Warehouse_Dashboard" asp-action="Index" class="menu-link">
                            <div>Warehouse</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/WH_Report_Dashboard/Index" ? " active" : "")'>
                        <a asp-controller="WH_Report_Dashboard" asp-action="Index" class="menu-link">
                            <div>Reports</div>
                        </a>
                    </li>
                </ul>
            </li>
        }
        @if (accessRightByRoleList.Contains(4) || accessRightByUsertList.Contains(4))

        {
            <!-- Purchase -->
            <li class='menu-item@(currentPage.StartsWith("/Pages/Misc") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-cart"></i>
                    <div>Purchase</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/Pages/MiscError" ? " active" : "")'>
                        <a asp-controller="Pages" asp-action="MiscError" class="menu-link" target="_blank">
                            <div>Master Information</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Pages/MiscUnderMaintenance" ? " active" : "")'>
                        <a asp-controller="Pages" asp-action="MiscUnderMaintenance" class="menu-link" target="_blank">
                            <div>Direct Purchase</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Pages/MiscUnderMaintenance" ? " active" : "")'>
                        <a asp-controller="Pages" asp-action="MiscUnderMaintenance" class="menu-link" target="_blank">
                            <div>InDirect Purchase</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Pages/MiscUnderMaintenance" ? " active" : "")'>
                        <a asp-controller="Pages" asp-action="MiscUnderMaintenance" class="menu-link" target="_blank">
                            <div>Warehouse</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Pages/MiscUnderMaintenance" ? " active" : "")'>
                        <a asp-controller="Pages" asp-action="MiscUnderMaintenance" class="menu-link" target="_blank">
                            <div>Reports</div>
                        </a>
                    </li>

                </ul>
            </li>
        }
        @if (accessRightByRoleList.Contains(5) || accessRightByUsertList.Contains(6))

        {
            <li class="menu-header small text-uppercase"><span class="menu-header-text">Components</span></li>
            <li class='menu-item@(currentPage == "/HRGlobalSetting/Index" || currentPage == "/FinanceGlobalSetting/Index" ||
                              currentPage == "/WarehouseGlobalSetting/Index" || currentPage == "/PurchaseGlobalSetting/Index" ||
                              currentPage == "/AccessRightsByRole/Index" || currentPage == "/AccessRightsByUser/Index"? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon fas fa-toolbox"></i>
                    <div>Setup</div>
                </a>

                <ul class="menu-sub">
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">Global Settings</span></li>
                    <li class='menu-item@(currentPage == "/HRGlobalSetting/Index" ? " active" : "")'>
                        <a asp-controller="HRGlobalSetting" asp-action="Index" class="menu-link">
                            <div>Human Resources</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/FinanceGlobalSetting/Index" ? " active" : "")'>
                        <a asp-controller="FinanceGlobalSetting" asp-action="Index" class="menu-link">
                            <div>Finance</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/WarehouseGlobalSetting/Index" ? " active" : "")'>
                        <a asp-controller="WarehouseGlobalSetting" asp-action="Index" class="menu-link">
                            <div>Warehouse</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/PurchaseGlobalSetting/Index" ? " active" : "")'>
                        <a asp-controller="PurchaseGlobalSetting" asp-action="Index" class="menu-link">
                            <div>Purchase</div>
                        </a>
                    </li>
                    <li class="menu-header small text-uppercase"><span class="menu-header-text">General Settings</span></li>
                    <li class='menu-item@(currentPage == "/AccessRightsByRole/Index" ? " active" : "")'>
                        <a asp-controller="AccessRightsByRole" asp-action="Index" class="menu-link">
                            <div>Access Right By Role</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/AccessRightsByUser/Index" ? " active" : "")'>
                        <a asp-controller="AccessRightsByUser" asp-action="Index" class="menu-link">
                            <div>Access Right By User</div>
                        </a>
                    </li>
                </ul>
            </li>

        }
        @if (accessRightByRoleList.Contains(6) || accessRightByUsertList.Contains(6))

        {
            <!-- Setting -->
            <li class='menu-item@(currentPage.StartsWith("/Pages/Misc") ? " active open" : "")'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx-cog"></i>
                    <div>Setting</div>
                </a>
                <ul class="menu-sub">
                    <li class='menu-item@(currentPage == "/Pages/MiscError" ? " active" : "")'>
                        <a asp-controller="Pages" asp-action="MiscError" class="menu-link" target="_blank">
                            <div>User Registation</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Pages/MiscUnderMaintenance" ? " active" : "")'>
                        <a asp-controller="Pages" asp-action="MiscUnderMaintenance" class="menu-link" target="_blank">
                            <div>Change Password</div>
                        </a>
                    </li>
                </ul>
            </li>
        }
    </ul>

</aside>
<!-- / Menu -->
