@{
    ViewData["Title"] = "Human Resources - HR";
}

@section PageScripts {
    <script src="~/js/pages-account-settings-account.js"></script>
    <link href="~/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Human Resources /</span> HR
</h4>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item"><a class="nav-link" href="~/Main_Dashboard/Index"><i class="bx bx-home me-1"></i> Main</a></li>
            <li class="nav-item"><a class="nav-link" href="~/Employeement_Dashboard/Index"><i class="bx bx-briefcase me-1"></i> Employeement</a></li>
            <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class="bx bx-group me-1"></i> HR</a></li>
            <li class="nav-item"><a class="nav-link" href="~/Finance_Dashboard/Index"><i class="bx bx-dollar me-1"></i> Finance</a></li>
            <li class="nav-item"><a class="nav-link" href="~/Report_Dashboard/Index"><i class="bx bx-bar-chart-alt me-1"></i> Report</a></li>
        </ul>
        <div class="card mb-4">
            <h5 class="card-header">Details</h5>
            <div class="row" style="padding: 30px 30px 0px 30px;">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="Deduction" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Deduction</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-minus-circle Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="OverTime" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Over Time</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-clock Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="AddionalAllowance" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Addional Allowance</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-plus-circle Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="VacationSettle" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Vacation Settle</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-plane-departure Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="EndOfService" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">End Of Service</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-hand-holding-usd Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="#">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Evaluation Assign</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-tasks Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="#">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Evaluation Approval</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-check-circle Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="#">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Evaluation List</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-list-alt Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                    <a asp-controller="FaceAttendanceTimeAdjust" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Face Attendance Time Adjust</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-calendar-check Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>

                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a asp-controller="FaceAttendanceForwarding" asp-action="Index">
                        <div class="modern-card shadow mb-4">
                            <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                <div class="card-details">
                                    <strong class="text-primary">Face Attendance Forwarding</strong>
                                    <h4 class="font-weight-bold text-dark">0</h4>
                                </div>
                                <div class="icon bg-primary text-white">
                                    <i class="fa fa-calendar-check Card1I" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="card-footer bg-white text-muted text-center">
                                View Details <i class="fa fa-arrow-right"></i>
                            </div>
                        </div>
                    </a>
                </div>
        </div>
    </div>
</div>
</div>
 @*    Deduction
    Over Time
    Addional Allowance
    Vacation Settle
    End Of Service
    Evaluation Assign
    Evaluation Approval
    Evaluation List
    Attendance Time Adjust *@
