@{
    ViewData["Title"] = "Human Resources - Reports";


    var accessRightsByUserJson = Context.Session.GetString("AccessRightsByUserActionSORs");
    var accessRightByUsertList = string.IsNullOrEmpty(accessRightsByUserJson)
        ? new List<int>()
        : System.Text.Json.JsonSerializer.Deserialize<List<int>>(accessRightsByUserJson);



    var accessRightsByRoleJson = Context.Session.GetString("AccessRightsByRoleActionSORs");
    var accessRightByRoleList = string.IsNullOrEmpty(accessRightsByRoleJson)
        ? new List<int>()
        : System.Text.Json.JsonSerializer.Deserialize<List<int>>(accessRightsByRoleJson);

}

@section PageScripts {
    <script src="~/js/pages-account-settings-account.js"></script>
    <link href="~/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" />
}
<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">Human Resources /</span> Reports
</h4>

<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-pills flex-column flex-md-row mb-3">
            <li class="nav-item"><a class="nav-link" href="~/Main_Dashboard/Index"><i class="bx bx-home me-1"></i> Main</a></li>
            <li class="nav-item"><a class="nav-link" href="~/Employeement_Dashboard/Index"><i class="bx bx-briefcase me-1"></i> Employeement</a></li>
            <li class="nav-item"><a class="nav-link" href="~/HR_Dashboard/Index"><i class="bx bx-group me-1"></i> HR</a></li>
            <li class="nav-item"><a class="nav-link" href="~/Finance_Dashboard/Index"><i class="bx bx-dollar me-1"></i> Finance</a></li>
            <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class="bx bx-bar-chart-alt me-1"></i> Report</a></li>
        </ul>
        <div class="card mb-4">
            <h5 class="card-header">Details</h5>
            <div class="row" style="padding: 30px 30px 0px 30px;">
                @if (accessRightByRoleList.Contains(251) || accessRightByUsertList.Contains(251))
                {
                    @*EmployeeBioData*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="EmployeeBioData" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Employee BioData</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-id-card-alt Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(252) || accessRightByUsertList.Contains(252))
                {
                    @*VacationReport*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="VacationReport" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Vacation Report</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-plane Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(253) || accessRightByUsertList.Contains(253))
                {
                    @*VacationBalance*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="VacationBalance" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Vacation Balance</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-balance-scale Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(254) || accessRightByUsertList.Contains(254))
                {
                    @*ContractExpiry*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="ContractExpiry" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Contract Expiry</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-hourglass-end Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(255) || accessRightByUsertList.Contains(255))
                {
                    @*UserMonitor*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="#">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">User Monitor</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-user-shield Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(256) || accessRightByUsertList.Contains(256))
                {
                    @*ExperienceCertificate*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="ExperienceCertificate" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Experience Certificate</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-certificate Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(257) || accessRightByUsertList.Contains(257))
                {
                    @*EducationDocument*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="EducationDocument" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Education Document</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-file-pdf Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(258) || accessRightByUsertList.Contains(258))
                {
                    @*Evaluation*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a href="#">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Evaluation</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-star Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(259) || accessRightByUsertList.Contains(259))
                {
                    @*ProcessApprovalDetail*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="ProcessApprovalDetail" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Process Approval Detail</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-clipboard-list Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(260) || accessRightByUsertList.Contains(260))
                {
                    @*EmployeeRequestApprovalDetail*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="EmployeeRequestApprovalDetail" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Employee Request Approval Detail</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-address-card Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(261) || accessRightByUsertList.Contains(261))
                {
                    @*ApprovedMonthlySalarySheet*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="ApprovedMonthlySalarySheet" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Approved Monthly Salary Sheet</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-file-signature Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(262) || accessRightByUsertList.Contains(262))
                {
                    @*MonthlyPayslip*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="MonthlyPayslip" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Monthly Payslip</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-file-signature Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
                @if (accessRightByRoleList.Contains(263) || accessRightByUsertList.Contains(263))
                {
                    @*FaceAttendanceReport*@
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <a asp-controller="FaceAttendanceReport" asp-action="Index">
                            <div class="modern-card shadow mb-4">
                                <div class="card-body small-box bg-light rounded-lg p-3 d-flex align-items-center justify-content-between">
                                    <div class="card-details">
                                        <strong class="text-primary">Face Attendance Report</strong>
                                        <h4 class="font-weight-bold text-dark">0</h4>
                                    </div>
                                    <div class="icon bg-primary text-white">
                                        <i class="fa fa-fingerprint  Card1I" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="card-footer bg-white text-muted text-center">
                                    View Details <i class="fa fa-arrow-right"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

