@model IEnumerable<Exampler_ERP.Models.Settings_HeadofAccount_Four>

<!DOCTYPE html>
<html>
<head>
    <title>Print HeadofAccount_Fours</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: white;
        }
    </style>
</head>
<body style="background-color:white">
    <h2>HeadofAccount_Four List</h2>
    <table>
        <thead>
            <tr>
                <th>HeadofAccount_Four ID</th>
                <th>HeadofAccount_Four Name</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var HeadofAccount_Four in Model)
            {
                <tr>
                    <td>@HeadofAccount_Four.HeadofAccount_FourID</td>
                    <td>@HeadofAccount_Four.HeadofAccount_FourName</td>
                    <td>@(HeadofAccount_Four.ActiveYNID == 1 ? "Yes" : "No")</td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        window.print();
    </script>
</body>
</html>
