@model IEnumerable<Exampler_ERP.Models.FI_ChequeBookDetail>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <h5 class="card-header">Cheque Book Detail</h5>
            <div class="">
                <div class="col-lg-12 col-md-12 col-sm-12 mb-12 SmallHide GVHeader">
                    <div class="row">
                        <div class="col-11 col-md-11 col-lg-12">
                            <div class="row">
                                <div class="col-4">
                                    <p class="text-nowrap">Cheque Number</p>
                                </div>
                                <div class="col-4">
                                    <p class="text-nowrap">GL Number</p>
                                </div>
                                <div class="col-4">
                                    <p class="text-nowrap">Status</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-12 col-md-12 col-lg-12 GVDetail">
                        <div class="row">
                            <div class="col-11 col-md-11 col-lg-12">
                                <div class="row">
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <p class="text-nowrap"><span class="smallAdd">Cheque Number : </span>@Html.DisplayFor(modelItem => item.ChequeNo)</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <p class="text-nowrap"><span class="smallAdd">GL Number : </span>@Html.DisplayFor(modelItem => item.GLID)</p>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-4">
                                        <p class="text-nowrap"><span class="smallAdd">Status : </span>@Html.DisplayFor(modelItem => item.Status)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
